body{
    margin-top: -83px;
    background-color:black;
    border-top: 0px;
}

header{
    padding: 40px;
    margin-bottom: -16px;
    
}
header div img{
     border-radius: 200px;
}

section{
 margin-top: 0%;
 font-family: "Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif";
 line-height: 20px;
 letter-spacing: 1px;
 text-align: justify;
 padding: 5px;

}

section ul li{
    display: block;
    padding: 20px;
    background-color: #BDBDBD;
    color: black;
    margin-top: 9px;
    margin-right: 130px;
    margin-left: 110px;
}

section ul li:hover{
    color:white;
    
}
footer{
   margin-top: -16px;
   padding: 30px;
   margin-bottom: auto;
}
a{
    color: inherit;
    text-decoration: none;
}
h1{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card{
    text-align: center;
    background-color:#757575;
    margin-left: 30%;
    margin-right: 30%;  
}

.logo{
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}