body{
    line-height: 1px;
    font-size: 24px;
    font-family:Arial, Helvetica, sans-serif ;
}

.container{
    display: flex;
    width: 100%;
    flex-Direction: column;
    
    min-height: 90vh;
}

ul{
    display: flex;
    justify-content: space-between;
    background: #344C11;
    color: white;
    padding-right: 16px;
    align-items: center;
    height: 60px;
}
ul li{
    display: block;
}

ul li a{ 
    height: 20px;
}
#ul1{
    height: 100px;
    padding-top: 15px;
}
.section{
    display: flex;
    background: white;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    height: 70vh;
    
}

h1{
    margin-top: 50px;
}
.agregar{
   background-color: #AEC670; 
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
   border-radius: 10px;
}

.container1{
    display: none;
    position: fixed;
    width: 85%;
    height: 92%;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding:40px;
    background-color: white;
    border-color: #AEC09A;
    border: solid;
}
.p1{
    padding-top: 50px;
    padding-bottom: 30px;
}
label{
    padding-top:50px;
    padding-bottom: 30px;
}

.prioridad{
    padding-bottom: 40px;
}
a{ 
    text-decoration: none;
    color: black;
}
/*.ocultar{
    display: none;
}
/* .mostrarDiv{
    display: block; */

.listadoDeTareas{ 
    display: none;
    border: none;
    height: 15%; 
    width: 80%;
    position: fixed;
    top:18%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-size: 14px;
    
}

.botones{
    margin-top: 50px;
}
.borrar{
    opacity: 0;
}